* {
    margin-left: auto;
  margin-right: auto;
}







.logo {
    display: flex;
width: 375px;
height: 63px;
align-items: center;
flex-shrink: 0;
box-shadow: inset 0px 3px 5px 0px #bbbbbb;
}

.h1logo {
    color: var(--Black, #101010);
text-align: center;
font-family: Shrikhand;
font-size: 30px;
font-style: normal;
font-weight: 400;
line-height: normal;
}

.location {
    display: flex;
width: 375px;
height: 50px;
justify-content: center;
align-items: center;
gap: 17px;
flex-shrink: 0;
background: var(--Grey-2, #EAEAEA);
box-shadow: inset 0px 3px 5px 0px #bbbbbb;
}

.imap {
    width: 12px;
height: 16px;
flex-shrink: 0;
position: relative;
left: 120px
}

p {
    color: var(--Grey, #353535);

/* Button */
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
display: flex;
justify-content: center;
align-items: center;
}

.headline-et-fonctionnement {
    width: 375px;
}

.fonctionnement {
    height: 440px;
}

.headline {
    padding-top: 15px;
    background-color: #F6F6F6;
    height: 280px;
}

.reservez {
    width: 275px;
height: 68px;
flex-shrink: 0;
color: #000;
text-align: center;

/* Section Title */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.decouvrez {
    width: 315px;
height: 46px;
flex-shrink: 0;
color: var(--Grey, #353535);
text-align: center;

/* Paragraph */
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 300;
line-height: normal;
}

.boutton {
    width: 218px;
    height: 50px;
    flex-shrink: 0;
    border-radius: 25px;
background: var(--Button-Gradient, linear-gradient(193deg, #9356DC -11.44%, #FF79DA 123.93%));

/* Shadow/Button */
box-shadow: 0px 4px 10px 0px rgba(0, 0, 0, 0.25);
}

.explorez {
    text-decoration: none;
font-family: Roboto;
font-size: 16px;
font-style: normal;
font-weight: 500;
line-height: normal;
color: var(--White, #FFF);
}

.boutton, a {
    display: flex;
    justify-content: center;
    align-items: center;
}

.h1fonc {
    text-align: left;
    padding-top: 20px;
    
    width: 275px;
height: 31px;
flex-shrink: 0;
color: #000;

/* Section Title */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.b1 {
    display: flex;
  flex-direction: row;
  align-items: center;
  position: relative;
  width: 322.486px;
height: 72.379px;
flex-shrink: 0;
border-radius: 20px;
background: var(--Background, #F6F6F6);

/* Shadow/Instructions */
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.15);
}

.b1-number {
    width: 24px;
    height: 24px;
    background-color: #9356dc;
    border-radius: 24px;
    font-family: Roboto !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    line-height: normal;
    color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    left: -0.75rem;
}

.b1-layout {
    display: flex;
    justify-content: start;
  flex-direction: row;
  align-items: center;
  gap: 1.25rem;
}

.b1-layout h3 {
    font-family: Roboto !important;
  font-size: 1rem;
  font-weight: 500;
  font-style: normal;
  line-height: normal;
  color: black;
}

.b1-layout i {
    font-size: 1.1875rem;
  color: #7E7E7E;
}

.store {
    fill: var(--Primary, #9356DC);
}

.b2 {
    margin-top: 25px;
}

.b3 {
    margin-top: 25px;
}

.restaurants {
    background: var(--Background, #F6F6F6);
}

.card1 {
    height: 251px;
align-self: stretch;
border-radius: 15px;
}

.rectangle {
    width: 340px;
height: 251px;
flex-shrink: 0;
border-radius: 15px;
background: #FFF;

/* Shadow/Card */
box-shadow: 0px 4px 15px 0px rgba(0, 0, 0, 0.10);
}

.h1rest {
    color: #000;

/* Section Title */
font-family: Roboto;
font-size: 24px;
font-style: normal;
font-weight: 700;
line-height: normal;
}

.menil {
    width: 340px;
height: 174px;
flex-shrink: 0;
border-radius: 10px 10px 0 0;
}

.lapal {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 15px;
color: #000;
font-family: Roboto;
font-size: 18px;
font-style: normal;
font-weight: 700;
line-height: normal;
}